/* Responsive */

@media (max-width: 575px){


/* Time line section */


.timeline-inner-part.two {
    width: auto;
    position: relative;
    min-height: 125px;
    float: left;
}

    .line-center {
        position: absolute;
        width: 9px;
        height: 89%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: white;
        border: 1px solid #707070;
    }


    section.timeline {
        padding-top: 15px;
        padding-bottom: 50px;
        background: #F2F3F7;
        margin-top: 20px;
    }

    h2.app-process-heading {
        font-size: 25px;
    }

    .timeline-content.d-flex {
        flex-direction: column;
    }

    .container.timeline-wrapper {
        padding-top: 0px;
    }
    .timeline-inner-part.one {
        width: 100%;
        position: relative;
        min-height: 125px;
    }

    .number-one {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 45px;
        transform: translate(-50%,-50%);
        height: 45px;
        border-radius: 100%;
        background: #fff;
        font-weight: 500;
        font-size: 22px;
        line-height: 42px;
        box-shadow: 0px 2px 13px 0px rgb(0 0 0 / 30%);
    }

    .image-box {
        width: auto;
        position: absolute;
        top: 21%;
        left: 0%;
        padding: 10px;
    }

    .image-box-one {
        position: absolute;
        top: 23%;
        left: 55%;
        padding: 10px;
    }

    .image-box.Third {
       
        position: absolute;
        top: 12%;
        left: -34px;
        padding: 10px;
    }

    .image-box-one.four {
        position: absolute;
        top: 22%;
        left: 55%;
        padding: 10px;
    }

    .image-box-one.six {
        position: absolute;
        top: 22%;
        left: 55%;
        padding: 10px;
    }

    img.img-fluid.handshake {
        height: 50px;
    }


    /* Header */

    img.menu-bar {
        height: 35px;
    }

    button.navbar-toggler {
        outline: none !important;
    }

    .text-xs-center{
        text-align: center;
    }


.logo img {
    max-height: 65px;
}

h1.app-heading.text-xs-center {
    font-size: 25px;
    text-align: center;
}

section.app-detail-section {
    padding-top: 26px;
    padding-bottom: 30px;
}
p.app-text {
    font-size: 15px;
    text-align: center;
}


button.started-button {
    width: 170px;
    height: 45px;
}

button.started-button.font-weight-bold.text-center.first {
    display: none;
}

button.started-button.font-weight-bold.text-center.\31 23 {
    display: initial;
}

section.service-wrapper.text-center {
    padding-top: 25px;
    padding-bottom: 7px;
    background: #f2f3f7;
}

h2.service-heading {
    font-size: 25px;
    font-family: auto;
}


img.inner-image.d-block {
    display: inline !important;
}

h3.service-type-heading {
    font-size: 20px;
    margin-top: 25px;
}
p.service-type-text {
    font-size: 17px;
    margin-bottom: 26px;
}


.service-inner {
    margin: 10px;
}

.portfolio-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

h2.portfolio-heading {
    font-size: 25px;

}

p.portfolio-text {
    font-size: 14px;
    line-height: 32px;
}


button.started-button.font-weight-bold.text-center {
    display: none;
}

/* Footer */

h2.e-mail {
    font-size: 15px;
}

h2.phone-number {
    font-size: 15px;
}

p.text-center.copyright {
    font-size: 15px;
}


}


@media (min-width: 768px) and (max-width: 1023px){

    h1.app-heading.text-xs-center {
        font-size: 30px;
    }

    p.app-text {
        font-size: 18px;
    }
    h2.service-heading {
        font-size: 30px;}

    h3.service-type-heading {
    font-size: 18px;}


    p.service-type-text {
        font-size: 17px;
    }
    .service-inner {
        background: #fff;
        margin: 10px;}

    h2.portfolio-heading {
    font-size: 30px; }
    
    
    p.portfolio-text {
        font-size: 16px;
        line-height: 35px;
    }

    /* Timeline  */

    .image-box.Third {
        position: absolute;
        top: -50%;
        left: -50%;
        padding: 10px;
    }

    .image-box-one {
        position: absolute;
        top: 10%;
        left: -37%;
        padding: 10px;
    }


    .image-box-one.four {
        position: absolute;
        top: 11%;
        left: -19%;
        padding: 10px;
    }

    .image-box-one.six {
        position: absolute;
        top: 10%;
        left: -61%;
        padding: 10px;
    }



}


@media (min-width: 1024px) and (max-width: 1300px){

    h1.app-heading {
        font-size: 38px;
    }

    p.app-text {
        font-size: 17px;
    }

    h3.service-type-heading {
        font-size: 18px;}


        p.service-type-text {
            font-size: 15px;
        }


        p.portfolio-text {
            font-size: 17px;
            line-height: 35px;
        }
    
        h2.portfolio-heading {
            font-size: 32px;
        }

        }






